# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
build/CMakeFiles/Framecounter.suprx.dir/depend.make
build/CMakeCache.txt
build/Framecounter
build/Framecounter.suprx
build/Framecounter.velf
build/Makefile
build/cmake_install.cmake
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/progress.marks
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.10.2/CMakeSystem.cmake
build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.10.2/CompilerIdC/a.out
build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
build/CMakeFiles/Framecounter.dir/C.includecache
build/CMakeFiles/Framecounter.dir/DependInfo.cmake
build/CMakeFiles/Framecounter.dir/build.make
build/CMakeFiles/Framecounter.dir/cmake_clean.cmake
build/CMakeFiles/Framecounter.dir/depend.internal
build/CMakeFiles/Framecounter.dir/depend.make
build/CMakeFiles/Framecounter.dir/flags.make
build/CMakeFiles/Framecounter.dir/link.txt
build/CMakeFiles/Framecounter.dir/main.c.obj
build/CMakeFiles/Framecounter.dir/progress.make
build/CMakeFiles/Framecounter.dir/renderer.c.obj
build/CMakeFiles/Framecounter.suprx.dir/DependInfo.cmake
build/CMakeFiles/Framecounter.suprx.dir/build.make
build/CMakeFiles/Framecounter.suprx.dir/cmake_clean.cmake
build/CMakeFiles/Framecounter.suprx.dir/depend.internal
build/CMakeFiles/Framecounter.suprx.dir/progress.make
